
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
*.iml

# Build Output
build


!gradle/wrapper/gradle-wrapper.jar

.gradle/

# IntelliJ
/out/
!.idea/
.idea/*
classes/*
!.idea/runConfigurations/

*.log
*.log.gz

bin/*
/ratelimitj-test/out/
/ratelimitj-redis/out/
